# Node
node_modules/
.npm/

# Java / Maven
**/target/
**/bin/

# Test artifacts
**/playwright-report/
**/test-results/
**/cypress/screenshots/
**/cypress/videos/
**/evidencias/

# Logs and temp
*.log
*.tmp
.DS_Store
Thumbs.db
